{% include './layouts/partials/header.html' %}
<h1>{{ site.name }}</h1>

{% for file in pagination.files %}
<ul class="recent">
    <li>
        <div class="title"><a href="/{{ file.path }}/">{{ file.title }}</a></div>
        <div class="date">{{ file.date }}</div>
    </li>
</ul>
{% endfor %}

{% if pagination.previous %}
    <a href="/{{pagination.previous.path}}{% if pagination.previous.path %}/{% endif %}">Newer</a>
{% endif %}
{% if pagination %}
{{pagination.num}}
{% endif %}
{% if pagination.next %}
    <a href="/{{pagination.next.path}}/">Older</a>
{% endif %}
{% include './layouts/partials/footer.html' %}
